html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.tnum {
  font-feature-settings: 'tnum' 1;
  font-variant-numeric: tabular-nums;
}
